# Ignore Paths
.gitignore
node_modules
.next
.vercel
build
dist
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lockfile / generated
pnpm-lock.yaml
pnpm-workspace.yaml
next-env.d.ts
.next/
